boto==2.49.0
boto3==1.12.12
botocore==1.15.12
certifi==2019.11.28
cfe==0.0.15
chardet==3.0.4
dj-database-url==0.5.0
Django==2.2.18
django-storages==1.9.1
docutils==0.15.2
gitdb==4.0.2
gitdb2==4.0.2
GitPython==3.1.0
gunicorn==20.0.4
idna==2.9
importlib-metadata==1.5.0
jmespath==0.9.5
olefile==0.46
Pillow==7.0.0
psycopg2-binary==2.8.4
pypi==2.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
s3transfer==0.3.3
six==1.14.0
smmap==3.0.1
smmap2==3.0.1
sqlparse==0.3.0
urllib3==1.25.8
zipp==3.0.0
