{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Notification Page</title>
{% endblock %}
<!-- {% block base_head %}
<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
{% endblock %}
 -->

{% block content %}

<div class="table-responsive">
	<table class="table">
	  <thead class="table-dark">
	    <tr>
	    <div class="container">
      	<div class="row">
      	  <div class="col-1">
	      <th scope="col">S.NO</th>
	      </div>
	      <div class="col-2">
	      <th scope="col">TITLE</th>
	      </div>
	      <div class="col-2">
	      <th scope="col">DESCRIPTION</th>
	      </div>
	      <div class="col-1">
	      <th scope="col">DOCUMENT</th>
	      </div>
	      <div class="col-1">
	      <th scope="col">START DATE:</th>
	      </div>
	      <div class="col-1">
	      <th scope="col">END DATE:</th>
	      </div>
	    </div>
		</div>
	    </tr>
	  </thead>
	  <tbody>
	  	<div class="container">
      	<div class="row">
	  	{% for obj in object_list %}
	      <tr>
	      	<div class="col-1">
	        <td scope="col">{{ forloop.counter }}</td>
	        </div>
	        <div class="col-1">
	        <td scope="col">
	        	{% if obj.title %}
				  <p>{{obj.title}}</p>
				{% else %}
				  	<p>not available</p> 
				{% endif %}
	        </td>
			</div>
	        
	        <div class="col-1">
	        <td scope="col">
	        	{% if obj.description %}
				  <a>{{obj.description|linebreaks }}</a>
				{% else %}
				  <p>not available</p>
				{% endif %}
	        </td>
			</div>
	        <div class="col-1">
	        <td scope="col">
	        	{% if obj.document %}
					  <a href="{{obj.document.url}}">{{obj.document }}</a>
				{% else %}
				  <p>not available</p>
				{% endif %}
	        </td>
	        </div>
	        <div class="col-1">
	        <td scope="col">
	        	{% if obj.start_date %}
				  <p>{{obj.start_date}}</p>
				{% else %}
				  	<p>not available</p>
				{% endif %}
	        </td>
	        </div>
	        <div class="col-1">
	        <td scope="col">
	        	{% if obj.start_date %}
				  <p>{{ obj.start_date }}</p>
				{% else %}
				  	<p>not available</p>
				{% endif %}
	        </td>
	        </div>
	      </tr>
	    {% endfor %}
	   </tbody>
	</table>
</div>

{% endblock %}