{% extends "base.html" %}

{% load static %}

{% block title %}
<title>About Page</title>
{% endblock %}

{% block content %}

<div class="text-center">
		<h1>{{title}}</h1>
</div>
<div class="row">
	<div class="col mb-5">
		<h2>More About Us</h2>
		<br>

		<p><strong>
			Our Organization “SANSTHAPAN” started functioning for the economic development of the local tribals, traditional artisans and poverty ridden rural masses. Our thrust areas are to provide educational facilities, standard health and sanitation programs, program on health issues of the community as a whole, to create programs for development of tourism pertaining to unexplored remote corner, to take up women welfare activities providing them required training, to promote village and khadi industries, to work for empowerment of the poor and oppressed people to improve their social, economic and educational status, to implement programs relating to renewable energy, green energy and to undertake various issues relating to agriculture, animal husbandry, social forestry, cottage industries, rural technology etc.</strong>
		</p>
		<br>
		<h2>Our Mission</h2>

		<br>

		<p><strong>
			Our mission is to work for the poverty ridden rural masses for alleviation of their poverty and their overall development to lead a meaningful life at par with their counterparts in other developed areas.</strong>
		</p>

		<br>
		
		<h2>Our Vision</h2>
		
		<br>
		
		<p><strong>
			Our vision is alleviation of poverty and overall economic growth and all round development of the oppressed people to live with dignity.
			</strong> 
		</p>
		
		<br>		

	</div>
</div>    


{% endblock %}
