{% extends "base.html" %}

{% load static %}

{% block title %}
<title>Home Page</title>
{% endblock %}
<!-- {% block base_head %}
<link rel="stylesheet" type="text/css" href='{% static "css/main.css" %}'>
{% endblock %}
 -->

{% block content %}

<div class="text-center">
		<h1>{{title}}</h1>
</div>
<div class="row">
	<div class="col mb-5">
		<br>
		<p><strong>
			Our Organization “SANSTHAPAN” started functioning for the economic development of the local tribals, traditional artisans and poverty ridden rural masses. Our thrust areas are to provide educational facilities, standard health and sanitation programs, program on health issues of the community as a whole, to create programs for development of tourism pertaining to unexplored remote corner, to take up women welfare activities providing them required training, to promote village and khadi industries, to work for empowerment of the poor and oppressed people to improve their social, economic and educational status, to implement programs relating to renewable energy, green energy and to undertake various issues relating to agriculture, animal husbandry, social forestry, cottage industries, rural technology etc.</strong>
		</p>
		<br>
			
		<!-- <a href="/about"><strong>{{content}}</strong></a> -->
	</div>
</div>    

{% endblock %}


