
<!-- Footer -->
<div class="container-fluid">
<footer class="footer page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
    
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2">© 2020 Copyright: All Right Reserved. <br>
    Designed & Developed By  
    <a href="#"> AthoService.com</a>
  </div>
  <!-- Copyright -->

</footer>
</div>