{% extends "base.html" %}

{% load static %}


{% block title %}
<title>Contact</title>
{% endblock %}

{% block content %}
<div class="container">
<div class="text-center mb-5">
	<h1>{{title}}</h1>
</div>
<div class="row">
<div class="col">
	<div class="col-sm-12 col-md-8 col-lg-6 mx-auto mb-5">
		<form class="contact-form" method="POST" action='{% url "contact" %}'> {% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>
</div>
</div>
</div>

{% endblock %}
